#homelogo {
	background:#b10f3a;/* b10f3a */
	text-align:center;
}
	
#homecontent {
	padding:0 !important;
	margin-top:0px;
	}
	
#homecontent .content-primary {
	padding:2px;
	}
	
#homesearch {
	padding:0 10px;
}

.content-secondary .ui-corner-all {
	border-radius:0;
}

.content-secondary .ui-collapsible {
	padding:0;
}

.content-secondary .ui-collapsible-inset {
	margin:0;
}

.ui-content .ui-listview-inset, .ui-panel-inner .ui-listview-inset
{
  margin: 0;
}

.ui-collapsible-heading > .ui-btn {
	background:#6a737b;
	color:#fff;
	text-shadow:none;
	border:none;
}


.ui-li-heading {
  overflow: visible !important;
  white-space: normal !important;
  color:#fff;
  text-shadow:none !important;
}

#homefeatures {
	margin-bottom:10px;
}

#homefeatures a {
	text-decoration:none;
	color:#fff !important;
}

#homefeatures .subtitle {
	clear:left;
	background:#8caea1;
}

#homefeatures .imgcontent img {
	float:left;
	width:50%;
}

#homefeatures .imgcontent .imgdec {
	float:left;
	width:50%;
	padding:0;
	background:transparent;
}

#homefeatures .imgcontent .imgdec p {
	padding:10px 10px 20px 10px;
}
	
.icongroup {
  clear:left;
  margin-top:10px;
}
	
.icongroup div, .helpgroup div {
	float:left;
	width:25%;
	text-align:center;
}

.icongroup div a, .helpgroup div a {
	position:relative;
	display:block;
	margin:1px !important;
	padding:0px;
	vertical-align:bottom;
	text-align:center;
	height:95px;
	color:#fff !important;
	font-weight:500 !important;
	font-size:.8em;
	-moz-text-shadow: none !important;
	-webkit-text-shadow: none !important;
	text-shadow: none !important;
	text-decoration:none;
}

.icongroup div a span, .helpgroup div a span {
	position:absolute;
	bottom:10px;
	left:0;
	width:100%;
	text-align:center;
}

.icongroup div a {
	background-color:#7C211E;
	background-repeat: no-repeat;
	background-position: center top;
}

.icongroup div a:active {
	background-color:#E54800;
}

.helpgroup div a {
	background-color:#564486;
	background-repeat: no-repeat;
	background-position: center 5px;
}

.helpgroup div a:active {
	background-color:#ADDDEB;
}


@media only screen and (min-width: 320px) { 

		
	#homelogo img {
		height:60px;
		margin:10px 0;
	}
	
	.icongroup div a {
		-webkit-background-size: 50px auto;
		-moz-background-size: 50px auto;
		background-size: 50px auto;
		height:75px;
	}
	
	.helpgroup div a {
		-webkit-background-size: 30px auto;
		-moz-background-size: 30px auto;
		background-size: 30px auto;
		height:60px;
	}
}


@media only screen and (min-width: 360px) { 

}

@media only screen and (min-width: 480px) { 

	#homelogo img {
		height:75px;
	}


}

@media only screen and (min-width: 600px) { 


}

@media only screen and (min-width: 640px) { 

}

@media only screen and (min-width: 768px) { 

	#homefeatures .imgcontent img {
		width:100%;
		float:none;
	}
	#homefeatures .imgcontent .imgdec {
		width:100%;
		float:none;
		position:absolute;
		bottom:0;
    	background: rgba(51, 51, 51, 0.5); 
	}

		
	.content-secondary {

		padding:0;
	}
	.icongroup div a {
		-webkit-background-size: 75px auto;
		-moz-background-size: 75px auto;
		background-size: 75px auto;
		height:95px;
	}
}


@media only screen and (min-width: 800px) { 

		
	.content-secondary {

		padding:0;
	}
}

@media only screen and (min-width: 1024px) { 

		
	.content-secondary {

		padding:0;
	}
	
	.content-secondary {
		padding-top:0;
	}
}
