#igmail {
	background-image: url(home-gmail.png);
}
#iecampus {
	background-image: url(home-ecampus.png);
}
#icamino {
	background-image: url(home-camino.png);
}
#ilogin {
	background-image: url(home-login.png);
}
#inews {
	background-image: url(home-news.png);
}
#isocial {
	background-image: url(home-social.png);
}
#ievents {
	background-image: url(home-events.png);
}
#iadmission {
	background-image: url(home-admission.png);
}
#ialumni {
	background-image: url(home-alumni.png);
}
#iathletics {
	background-image: url(home-athletics.png)
}
#icourses {
	background-image: url(home-courses.png);
}
#idirectory {
	background-image: url(home-directory.png);
}
#imap {
	background-image: url(home-map.png);
}
#irooms {
	background-image: url(home-rooms.png);
}
#idining {
	background-image: url(home-dining.png);
}
#ilibraries {
	background-image: url(home-libraries.png);
}

.helpgroup {
	clear:left;
}

#iemergency {
	background-image: url(home-emergency.png);
}
#ifullsite {
	background-image: url(home-fullsite.png);
}
#iabout {
	background-image: url(home-about.png);
}
#icustomize {
	background-image: url(home-customize.png);
}

body {
	background:#9D9D96;
	}

.type-interior .content-primary {
	/*background:#6a737b;*/
	padding-bottom:20px;
	text-shadow:none;
}

.type-interior .content-secondary {
	border-right: 0;
	border-left: 0;
	padding-top:10px;
	border-top:1px solid #999;
}

.type-interior .ui-body-a {
	border:none;
	color:#333;
}

.type-interior .ui-content {
	padding: 0;
	margin:0;
}

.type-interior .ui-li-heading {
	color:#333;
	margin-left:0;
}

.type-interior .ui-li-desc {
	margin-left:0;
}

.type-interior .ui-li-heading a, .type-interior .ui-li-desc a {
	color:#9E1B34;
}

.type-interior #pagecontent {
	padding:20px;
	background:#eee;
	color:#333;
	text-shadow:none;
}

.type-interior #pagecontent a {
	color:#93191b;
}

.content-secondary .ui-collapsible {
	padding: 0 15px 10px;

}
.content-secondary .ui-collapsible-content {
	padding: 0;
	background: none;
	border-bottom: none;
}


.content-primary table th, .content-primary table td {
	padding:5px;
	vertical-align:top;
}

.content-primary table br {
	line-height:0;
}

.content-primary table h5 {
	padding:0;
	margin:0;
}

.content-primary .ui-listview {
	margin: 0px !important;
}

.ui-content p {
	margin:0 10px;
}


/* SCU Home icon 175x40 pixels */
.ui-header {
	background: #9E1B34 url(scu.png) repeat-y;
}
.ui-header .sculogo {
    padding: 0px;
    margin:-3px 0 0 -5px;
}

#header {
	position:relative;
	height:40px;
	background: #ab0e38 url(scu-logotype-horizontal.png) center no-repeat;
	background-size: 240px;
}

#header .homenav img {
	padding:13px 10px 10px 20px;
}

#header .homenav img:active {
	opacity:100%;
}

.ui-content h2.pagetitle {
	background-size:40px 40px;
	background-repeat:repeat-y;
	background-position:10px 3px;
	/*background-position:bottom left;
	background-repeat:no-repeat;*/
	color:#fff;
	padding-left: 55px;
	margin:0;
	font-size:1.4em;
	line-height:45px;
	font-weight:normal;
	vertical-align:bottom;
}

.ui-content h2.pagetitle a {
	color:#fff !important;
	font-weight:normal;
	text-decoration:none;
}

.ui-content h3 {
	margin-left: 15px;
}

.ui-content #subtitle {
	font-size:1.25em;
	padding:10px 0 10px 15px;
	color:#efefef;
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	clear:both;
	float:none;
	/*background:#6a737b;*/
}

.ui-header .sculogo {
    padding: 0px;
    margin:1% 5%;
    width:90%;
}

.ui-header h1.ui-title
{
	font-family: Helvetica, Verdana, sans-serif;
	color:#fff;
	font-weight:700;
	font-size:20px;
	line-height:20px;
	margin:0px;
	padding:11px 0 9px 105px;
	text-align:left;
	letter-spacing:0px;
}

.ui-header .pnav-icon {
	margin-top:10px;
}

.ui-mobile .ui-bar-a {
    border-width: 0pt !important;
}

.ui-input-search {
	background:#eee;
}

.ui-bar-b {
	background:none;
	border-bottom:none;
	border-top:none;
	background:#6a737b;
	color:#fff;
	text-shadow: none;
}

#phoneicon .ui-icon-custom {
	background-image: url("phoneicon.png");
	background-position: 2px 2px;
	background-size: 80%; }

#feed .ui-li-heading
{
  font-size: 14px;
  white-space: normal;
  margin-left:0;
}
	
#footer {
	background:none;
	margin-top:60px;
	padding-top:10px;
	border-bottom:none;
	border-top:1px solid #999;
}



/*.ui-icon-pnav-icon {
    background-image: url("/images/icon/glyphish/259-list-w.png");
}*/	



@media all and (min-width: 650px){
	

	.type-home .ui-content {
		margin-top: 5px;
	}
	.ui-mobile #scu-home {
		max-width: 340px;
	}
	#header {
		background-size:360px;
	}
	p.intro {
		margin: 2em 0;
	}
	.type-home .ui-content,
	.type-interior .ui-content {
		padding: 0;
	}
	.type-interior .ui-content {
		background-position: 45%;
		overflow: hidden;
	}
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
		background: none;
	}
	.content-secondary,
	.type-interior .content-secondary {
		margin: 30px 0 20px 2%;
		padding: 20px 4% 0 0;
		background: none;
		border-top: none;
	}
	.type-interior  .content-secondary {
		padding: 0;
	}
	.type-interior .content-secondary .ui-collapsible {
		margin: 0;
		padding: 0;
	}
	.type-interior .content-secondary .ui-collapsible-content {
		border: none;
	}
	.type-interior .content-secondary .ui-listview {
		margin: 0;
	}

	.ui-mobile #scu-home {
		padding: 0;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.type-interior .content-primary {
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	/* fix up the collapsibles - expanded on desktop */
	.content-secondary .ui-collapsible-heading {
		display: none;
	}
	.content-secondary .ui-collapsible-contain {
		margin:0;
	}
	.content-secondary .ui-collapsible-content {
		display: block;
		margin: 0;
		padding: 0;
	}
	.type-interior  .content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.type-interior .content-secondary {
		margin: 0;
		padding: 0;
	}
	
	#homeFeatures {
	}
	
}
@media all and (min-width: 750px){
	.type-home .ui-content,
	.type-interior .ui-content {
		background-position: 39%;
	}
	.content-secondary {
		width: 34%;
	}
	.content-primary {
		width: 56%;
		padding-right: 1%;
	}	
	.type-interior .ui-content {
		background-position: 34%;
	}
	
	#homeFeatures {
		/* ipad */
	}
	
	.pnav-icon {
		display:none;
	}
	
}

@media all and (min-width: 1200px){
	.type-home .ui-content{
		background-position: 38.5%;
	}
	.type-interior .ui-content {
		background-position: 30%;
	}
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 30px 0 20px 5%;
	}
	.type-interior .content-secondary {
		margin: 2%;
		padding: 0;
	}
	.content-primary {
		width: 50%;
		margin-right: 5%;
		padding-right: 3%;
	}
	.type-interior .content-primary {
		width: 60%;
	}
	
	#homeFeatures {
		/* standard desktop */
	}
	
	.pnav-icon {
		display:none;
	}
	
}