#fullmenu {
	display:none;
}


nav#mobile .navicon {
	position:absolute;
	top:45px;
	right:0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 30px;
  height: 40px;
  text-indent: -9999px;
  overflow: hidden;
  background: transparent url("259-list-w.png") no-repeat 0px 15px;
}

#submenu {
	margin:0;
	padding:0;
}

#submenu li {
	clear:both;
	list-style:none;
}

#submenu li a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  background: #8caea1;
  border-top: 1px solid #efefef;
  padding: 0.7em 1em;
  float: left;
}

@media screen and (min-width: 40em) {
  nav#mobile, nav#mobile .navicon {
  	display:none !important;
  }
  #fullmenu {
  	display:block;
  }
}


